<div class="bg-dark rounded-xl w-full flex flex-none flex-col border border-muted">
    <div class="items-center grid-flow-col grid pt-2 px-2">
        <a class="text-emphasis text-2xl ml-0.5 truncate font-medium" href="/projects/display/@Project.Id">@Project.Name</a>
        <div class="justify-self-end flex flex-grow flex-none items-center">
            <p class="text-default text-lg mr-1">
                due: @Project.DueDate.ToString("dd/MM/yyyy")
            </p>
            <button @onclick="@ToggleExpanded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
        </div>

    </div>

    <span class="text-muted px-2 ml-3 text-xl break-all @(IsExpanded ? "" : "description")">@Project.Description</span>

    @if (IsExpanded) {
        <div class="mt-1.5 pt-2 bg-default rounded-b-xl">
            <h1 class="text-3xl ml-2.5 text-emphasis">Assignees: </h1>
            <div class="ml-4 mt-0.5 py-2 grid grid-auto-repeat">
                @foreach (var user in Project.Assignees) {
                    <div class="bg-dark rounded-md pl-2 py-2">
                        <UserDisplay User="@user"></UserDisplay>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public ProjectDTO Project { get; set; } = SampleData.Projects.ElementAt(0);

    private bool IsExpanded { get; set; } = false;

    private void ToggleExpanded() {
        IsExpanded = !IsExpanded;
    }

}