@page "/projects/create"
@using blazor.Api

@attribute [Authorize]

@inject IUserClient _userClient
@inject IProjectClient _projectClient
@inject NavigationManager _navigationManager

<div class="w-full h-full flex flex-col flex-none bg-default">
    <div class="w-full flex font-bold flex-none space-y-1 flex-col items-center justify-center text-6xl h-56">
        <p class="text-emphasis">Create new Project</p>
    </div>

    <div class="flex flex-grow flex-col items-center">
        <div class="w-1/2 h-4/6 flex flex-none items-center flex-col">
            <div class="flex flex-col flex-none w-full h-full">
                <EditForm class="h-full flex flex-col flex-grow bg-overlay px-3 py-4 rounded-2xl" OnValidSubmit="@HandleValidSubmit" Model="@inputModel">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="h-full w-full grid grid-flow-row gap-5 text-2xl">
                        <InputText class="rounded-2xl bg-subtle border-muted h-full border-2 text-default pl-2"
                                   @bind-Value="@inputModel.Name"
                                   placeholder="Name"/>
                        <InputText class="rounded-2xl bg-subtle border-muted h-full border-2 text-default pl-2"
                                   @bind-Value="@inputModel.Description"
                                   placeholder="Description"/>
                        <InputDate class="rounded-2xl bg-subtle border-muted h-full border-2 text-default pl-2 pr-2"
                                   @bind-Value="@inputModel.DueDate" Type="InputDateType.DateTimeLocal"/>
                        <InputText class="rounded-2xl bg-subtle border-muted h-full border-2 text-default pl-2"
                                   @bind-Value="@inputModel.Status"
                                   placeholder="Status"/>
                        <InputUserSelect
                            @bind-SelectedUsers="@inputModel.Assignees"
                            Users="users"/>
                    </div>

                    <button class="rounded-2xl mt-4 bg-accent text-2xl font-semibold text-emphasis h-[13%]" type="submit">
                        Submit
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private List<UserDTO> users { get; set; } = new();
    private InputModel inputModel { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        var response = await _userClient.GetAllUsers();
        users = response.ToList();
    }

    private async Task HandleValidSubmit() {
        var project = new ProjectCreateDTO {
            Name = inputModel.Name,
            Description = inputModel.Description,
            DueDate = inputModel.DueDate,
            Status = inputModel.Status,
            Assignees = inputModel.Assignees
        };

        await _projectClient.CreateProject(project);
        _navigationManager.NavigateTo("/", true);
    }

}