@page
@using IdentityServer.Pages.Account.Register
@model IdentityServer.Pages.Account.Register.Index

<div class="login-page">
    <div class="lead">
        <h1>Register</h1>
        <p>Choose how to register</p>
    </div>

    <partial name="_ValidationSummary"/>

    <div class="row">

        @if (Model.View.EnableLocalLogin) {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Local Account</h2>
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-center border-0">
                            <button class="p-0 img-thumbnail">
                                <img src="@Model.Avatar.AvatarUrl" width="48" height="48"/>
                            </button>

                        </div>

                        <form asp-page="/Account/Register/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl"/>
                            <input type="hidden" asp-for="Input.Avatar" value="@Model.Avatar.AvatarUrl"/>

                            <div class="form-group">
                                <label></label>
                                <input class="form-control" placeholder="Avatar" value="@Model.Avatar.AvatarInput">
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>

                            @if (Model.View.AllowRememberLogin) {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }

                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-primary" name="Input.Button" value="register">Register</button>
                                    <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                                </div>

                                <button class="btn btn-secondary" name="Input.Button" value="signin">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.View.VisibleExternalProviders.Any()) {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders) {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-page="/ExternalLogin/Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any()) {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>